@import "tailwindcss";

@layer base {
  :root {
    --background: #f9fafb;
    --foreground: #09090b;
  }
}
@layer components {
  .form-input-premium {
    @apply w-full p-4 bg-zinc-50 border border-zinc-200 rounded-2xl text-sm font-bold outline-none focus:ring-2 focus:ring-blue-500 transition-all;
  }
}